/node_modules
/public/hot
/public/storage
/public/uploads
/public/resources/views/vendor
/public/views/vendor
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.sass-cache/
composer.json
/resources/views/vendor
/public/upload/*
/public/vendor/*